// button.module.scss
.button {
    display: flex;          
    width: 208px;           
    padding: 16px 24px;      
    justify-content: center;  
    align-items: center;      
    gap: 8px;               
    border: none;          
    cursor: pointer;         
    border-radius: 8px;     
    font-size: 16px;       
  }
  
  .primary {
    background-color: #003446;
    color: white;              
  }
  
  .secondary {
    background-color: white;    
    color: #003446;             
    border: 1px solid  #003446ff;  
  }
  