.mainfeatureheading {
    color: #000;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainfeatureheading {
    overflow: hidden;
    color: #000;
    opacity: 0.5;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 1.75rem */
}

.amount {
    color: #000;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.account {
    overflow: hidden;
    color: #000;

    text-overflow: ellipsis;
    opacity: 0.5;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 2.45rem */
}

.ullist {
    list-style: none;
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 0;
    margin-left: 0;

    // Add spacing between the <li> elements
    li {

        margin-bottom: 1.5rem; // Adjust the value to control the gap size
    }

    img {
        margin-right: 1rem; // Adjust the value to control the space size
    }
}


.maincard {
    border-radius: 1.5rem;
    border: 1px solid rgba(0, 52, 70, 0.24);
    background: #FFF;
    width: 28rem;
    flex-shrink: 0;
    padding: 3rem;

}

.pricingHr {
    opacity: "0.1rem"
}