.mainheading{
    color: #000;
// text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mainpricingtext{
    color: #000;
text-align: center;
width: 43rem;
font-size: 3.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
// text-align: center;

}

.firstdiv{
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;     /* Vertically centers the content */
    flex-direction: column;
    margin-top: 9rem;
}