.text1 {
    border-radius: 20px;
    border: 1px solid rgba(0, 52, 70, 0.10);
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.text2 {
    color: #000;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    line-height: normal;
    width: 992px;
}

.text3 {
    color: #000;
    text-align: center;
    font-size: 20px;
    line-height: 160%;
    opacity: 0.5;
    width: 928px;
}

.secondsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 104px;
    margin-bottom: 72px;


}

.mainbtndiv {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.mainbannerimage {
    object-fit: "cover";
    width: "100%";
    height: "100%"
}

.mainBannerImageWrapDiv {
    position: "relative"
}

.mb {
    margin-bottom: 20px
}