.text1{
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    }
    
    .text2{
        color: #000;
        text-align: center;
        font-size: 56px;
        font-weight: 500;
        line-height: normal;
        width: 992px;
    }
    .text3{
        color: #000;
        text-align: center;
        font-size: 20px;
        line-height: 160%; 
        opacity: 0.5;
        width: 928px;
    }
    
        .secondsection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            text-align: center; 
            margin-top: 104px;
            margin-bottom: 72px;

            
        }
    
        .Subsection {
          display: flex;
          flex-direction: row;
          gap: 5rem;
        }
        
        .Subsection2{
         background-color: #003446;
     border-radius: 20px;
    
        } 

    
        .maindescription{
            overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    line-height: 160%; /* 32px */
    opacity: 0.5;
    text-align: left;
    
        }
        .mainheading{
            color: #000;
          
            font-size: 3.5rem;
          
            font-weight: 500;
            line-height: 130%; /* 4.55rem */
    text-align: left;
        }
        .featuressection{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 2.5rem;
        }
    
    .Subsection1{
     
      
    }
    .seconddiv{
      text-align: left;
    }
    .imagesection {
    
     position: relative;
     top: 5.2rem;
        
      }
      
    
      .firstpara{
        color: #000;
font-size: 1rem;
font-style: normal;
text-align: left;
      }
      .features{
        display: flex;
        gap: 1rem;
        max-width: 100%;
       
      }
      .featuretext{
        color: #000;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: left;



      }
      .featurediscription{
        opacity: 0.5;
        overflow: hidden;
color: #000;
text-overflow: ellipsis;

font-size: 1rem;
font-weight: 400;
line-height: 140%;
text-align: left;

      }

    .Seconddivtext1{

      color: #FFF;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 2.6rem */
text-align: left;
    }
    .Seconddivtext2{
      color: #FFF;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.625rem */
text-align: left;


    }
    .Seconddivtext3{
      opacity: 0.8;
      overflow: hidden;
color: #FFF;
text-overflow: ellipsis;

font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 1.6rem */
text-align: left;


    }
    .Subsectiondiv2{
      display: flex;
      padding-top: 1rem;
     
 
  

    }